body {
    background-color: #ffffff;
}
.login{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.dalla-login{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #002147;
}
.picture-logo{
    margin-top: 10px;
    width: 50px;
    border-radius: 100%;
}
.box{
    margin-bottom: 20px;
}
.i-user, .i-pass{
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
}

.img-logo, .box, .box2{
    display: flex;
    justify-content: center;
}

.h1{
    color: #ffff;
    font-size: 15px;
    text-align: center;
}
.botton, .rem{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.chuchu{
    color: #ffffff;
}
.bxs-user, .bxs-lock-alt{
    color: #ffffff;
}
.btn{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: #00bfff;
    color: #ffffff;
}

.custom-shape-divider-bottom-1725363290 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1725363290 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-bottom-1725363290 .shape-fill {
    fill: #002147;
}